body {
  font-family: futura-pt;
  font: futura-pt;
}

.header {
  border-bottom: 1px solid #ddd;
}

.tab-content {
  padding: 50px 0px;
  border-bottom: 1px solid #ddd;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: #999;
}